body {
  font-family: "Madimi One", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: bolder;
  letter-spacing: 1.2px;
  margin: 0;
  background-image: url("./login.jpg");
  background-position: center;
  background-size: cover;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 5px solid white;
  width: 300px;
  border-radius: 25px;
  padding: 20px;
  color: white;
  font-size: 24px;
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
}

h1 {
  margin: 10px 0;
}

.form-group1,
.form-group2 {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

label {
  margin-bottom: 5px;
}

/* Additional styles for form-group1 */
.form-group1 label {
  color: yellow; /* Example color */
}

/* Additional styles for form-group2 */
.form-group2 label {
  color: orange; /* Example color     */
}

input[type="text"],
input[type="password"] {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  height: 30px;
  padding: 5px;
  font-size: 18px;
  color: white;
  margin-top: 5px;
}

.form-group3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.checkbox {
  font-size: 18px;
  display: flex;
  align-items: center;
}

button {
  width: 150px;
  font-size: 20px;
  border-radius: 8px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
input:focus {
  outline: none;
}
input[type="checkbox"] {
  accent-color: rgb(0, 255, 145);
}
